<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


  <display-name>CaveSurvey BT Emulator</display-name>


    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>com.astoev.cave.survey.emulator.servlet.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deviceServlet</servlet-name>
        <servlet-class>com.astoev.cave.survey.emulator.servlet.DeviceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deviceServlet</servlet-name>
        <url-pattern>/device</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>btServlet</servlet-name>
        <servlet-class>com.astoev.cave.survey.emulator.servlet.BluetoothServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>btServlet</servlet-name>
        <url-pattern>/server</url-pattern>
    </servlet-mapping>
</web-app>